.supSlider nav.nav-points {
    background:transparent;
    margin-top:0;
    position:absolute;
    bottom:10px;
    right:10px;
    z-index:9999;
}

.supSlider {
    height:auto;
    position:relative;
    overflow: hidden;
    width:auto;
    height:auto;
}

.supSlider .slider-inside {
    background-repeat: no-repeat;
}

.supSlider nav.nav-points ul li {
    display:inline-block;
    margin-left:5px;
}

.supSlider nav.nav-points ul li a {
    width:10px;
    height:10px;
    border-radius:50%;
    border:2px solid #fff;
    text-decoration:none;
    display:block;
    text-indent:9999px;
    background-color:#ff4405;
    
}

.supSlider nav.nav-points ul li.active > a {
    background-color:#374f5e;
}

.supSlider a.arrow-left,
.supSlider a.arrow-right {
    position:absolute;
    top:50%;
    margin-top:-21px;
    z-index:9999;
    color:#fff;
    text-decoration:none;
    display:block;
}

.supSlider a.arrow-left {
    left:0;
    background:#fff url("/images/icons/arrow-left.jpg") no-repeat center center; 
    width:48px;
    height:48px; 
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}

.supSlider a.arrow-right {
    right:0;
    background:#fff url("/images/icons/arrow-right.jpg") no-repeat center center; 
    width:48px;
    height:48px;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
}