/*@font-face {
    font-family: 'Conv_B52_____';
        src: url('fonts/B52_____.eot');
        src: local('?'), url('fonts/B52_____.woff') format('woff'), url('fonts/B52_____.ttf') format('truetype'), url('fonts/B52_____.svg') format('svg');
        font-weight: normal;
        font-style: normal;
}*/


/* Установка цвета для текста */

.left {
    width:auto;
    float:left;
}

.right {
    width:auto;
    float:right;
}

.bold {
    font-weight:bold;
}

.align-vertical() {
    display:table-cell;
    vertical-align:middle;
}

/* Все заглавные буквы */

.uppercase {
    text-transform:uppercase;
}

.lowercase {
    text-transform:lowercase;
}

.color(@color:#000) {
    color:@color;
}

.setpadding(@padding, @margin) {
    padding:@padding;
    margin:@margin;
}

.clear() {
    .setpadding(0,0);
    text-decoration:none;
    list-style:none;
    clear:both;
}

.transform(@count) {
    -moz-transform: rotate(@count); /* Для Firefox */
    -ms-transform: rotate(@count); /* Для IE */
    -webkit-transform: rotate(@count); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(@count); /* Для Opera */
    transform: rotate(@count);
}

/* Установка rgba цвета */

.rgba(@red:255,@green:255,@blue:0, @alfa:0.6) {
    background:rgba(@red,@green,@blue, @alfa) !important;
}

.opacity(@alfa:1, @ms-alfa:100) {
    opacity:@alfa; 
    filter:alpha(opacity=40);
}

/*
    1.Вариант градиента
    2.Цвет первого фона
    3.Цвет второго фона
    
*/

.gradient(@side:top, @in:blue, @to:black) {
    background:linear-gradient(@side, @in, @to);
    background:-webkit-linear-gradient(@side, @in, @to);
    background:-moz-linear-gradient(@side, @in, @to);
    background:-o-linear-gradient(@side, @in, @to);
    background:-ms-linear-gradient(@side, @in, @to);
}

/*
    Набор свойств для кнопки:

    1.Цвет фона
    2.Цвет текста
    3.Ширина
    4.бордюр
    5.внутрений отступ
    
*/

.button(@bgcolor:orange, @tcolor:#fff, @width:auto, @border:0, @padding:6px) {
    display:inline-block;
    width:@width;
    padding:@padding;
    border:@border;
    color:@tcolor;
    background-color:@bgcolor;
    cursor:pointer;
}

/* Закруглённые края */

.border-radius(@radius:10px) {
    border-radius:@radius;
    -moz-border-radius:@radius;
    -ms-border-radius:@radius;
    -o-border-radius:@radius;
    -webkit-border-radius:@radius;
}

/* Тень для блока */

.shadow-box(@x:0px, @y:0px, @blur:1px, @radius:0px, @color:#000) {
    box-shadow:@arguments;
    -moz-box-shadow:@arguments;
    -webkit-box-shadow:@arguments;
    -ms-box-shadow:@arguments;
}

.shadow-box-inset(@x:0px, @y:0px, @blur:1px, @radius:0px, @color:#000, @where:inset) {
    box-shadow:@arguments;
    -moz-box-shadow:@arguments;
    -webkit-box-shadow:@arguments;
    -ms-box-shadow:@arguments;
}

/* Навигация */

.navigation(@type, @padding:0px, @margin:0px) when (@type = horizontal) {
    ul {    
        .setpadding(@padding, @margin);
        li {
            display:inline-block;
        }
    }
}

.navigation(@type, @padding:0px, @margin:0px) when (@type = table)  {
    ul {    
        .setpadding(@padding, @margin);
        height:75px !important;
        display:table;
        li {
            display:table-cell;
        }
    }
}

/* -------- */