@import "core.less";

@font-face {
    font-family: 'Franklin-Gothic-Demi-cond';
    src: url('/fonts/franklin-gothic-demi-cond.eot');
    src: local('?'), url('/fonts/franklin-gothic-demi-cond.woff') format('woff'), 
        url('/fonts/franklin-gothic-demi-cond.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Franklin-Gothic-Medium';
    src: url('/fonts/franklin-gothic-medium.eot');
    src: local('?'), url('/fonts/franklin-gothic-medium.woff') format('woff'), 
        url('/fonts/franklin-gothic-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@Franklin:Franklin-Gothic-Demi-cond;
@Franklin-Medium:Franklin-Gothic-Medium;

html, body {
    padding:0;
    margin:0;
}

.stretch-block {
    .ls {
        width:100%;
        min-width:400px;
        max-width:780px;
        float:left;
    }
    .rs {
        width:403px;
        margin:0 0 0 799px;
    }
}

.special_header(@color:red) {
    position:relative;
    &:before {
        content:"";
        position:absolute;
        left:50%;
        bottom:-35px;
        margin-left:-26px;
        border-top:20px solid @color;
        border-right:25px solid transparent;
        border-left:25px solid transparent;
        border-bottom:20px solid transparent;
    }
}

.bg-purple {
    background-color:#463986;
}

.label_right_text(@bg-color) {
    span { 
        background-color:@bg-color;
        position:relative;
        font-family:@Franklin;
        &:before {
            content:"";
            right:-54px;
            bottom:-1px;
            position:absolute;
            border-top:27px solid transparent;
            border-left:27px solid @bg-color;
            border-bottom:27px solid transparent;
            border-right:27px solid transparent;
        }
    }  
}

.label_left_text(@bg-color) {
    background-color:@bg-color;
    position:relative;
    font-family:@Franklin;
    &:before {
        content:"";
        left: -52px;
        bottom:-1px;
        position:absolute;
        border-top:27px solid transparent;
        border-left:27px solid transparent;
        border-bottom:27px solid transparent;
        border-right:27px solid @bg-color;
    }
}

.right_single_arrow(@bg-color:#fff, @padding:20px) {  
    .label_right_text(@bg-color);
}

.left_double_arrow(@color:#fff, @padding:20px) {
    position:relative; 
    span {
        .label_left_text(@color);
    }
    &:before {
        content:"";
        position:absolute;
        background:url("/images/icons/labearrow-left.png") no-repeat left center;
        bottom:0;
        left:-56px;
        width:36px;
        height:54px;
    }

    &:after {
        content:"";
        position:absolute;
        background:url("/images/icons/labearrow-left.png") no-repeat left center;
        left:-33px;
        bottom:0;
        width:36px;
        height:54px;
    }
}

.label_double-arrow-left(@color) {
    .left_double_arrow(@color);
    span {
        .uppercase;
        display:block;
        padding:9px;
        color:#6c5e9f;
        font-size:30px;
        font-family:@Franklin;
        text-align:center;
    }
}

.label_single-arrow-right(@color) {
    .right_single_arrow(@color);
    span {
        .uppercase;
        display:block;
        padding:4px;
        color:#6c5e9f;
        font-size:30px;
        font-family:@Franklin;
        text-align:center;
        
    }
    &:before {
        content:"";
        position:absolute;
        background:url("/images/icons/labearrow-right.png") no-repeat right center;
        right:0;
        width:36px;
        height:54px;
    }
    
}

.allnews {
     position:relative; 
    .label_single-arrow-right(#463986);
    text-decoration:none;  
    span {
        width:280px;
        text-align:left;
        background-color:#463986;
        color:#fff;
        font-size:20px;
        padding:10px 0 10px 30px;
        &:before {
            border-width:23px;
            right:-43px;
        }
    }
    &:before {
        bottom:-45px;
        right:-350px;
    }
    
}

.news-block {
    a.readnews {
        .button(#463986, #fff, auto, 0, 2px);
    }
}

.left {
    .left;
}

header.special {
    padding:8px;
    h1,h2,h3 {
        .uppercase;
        margin:0; 
        padding:0; 
        color:#fff; 
        text-align:center; 
        font-size:16px;
        font-family:@Franklin-Medium;
    }
    .special_header(#463986);
}

.container {
    width:1200px;
    margin:0 auto;
    overflow:hidden;
}

.icons {
    width:106px;
    height:109px;
    display:inline-block;
    vertical-align:bottom;
    div {width:51px; height:51px; display:inline-block;}
    &-settee { background:url("/images/icons/settee.jpg") no-repeat left top; }
    &-crane { background:url("/images/icons/crane.jpg") no-repeat left top; }
    &-chair { background:url("/images/icons/chair.jpg") no-repeat left top; }
    &-table { background:url("/images/icons/table.jpg") no-repeat left top; }
}

#wrapper {
    #top {
        background:url("/images/background.jpg") no-repeat center top;
        overflow:hidden;
        .container {
            padding-top:24px;
        }
        
        #logo_string {
            display:inline-block;
            vertical-align:bottom;
            margin:0 10px 0 10px;
            a {
                display:block;
                width:820px;
                height:58px;
                background:url('/images/logo_string.png') no-repeat left top;
            }
        }

        #feedback {
            display:inline-block;
            a {
                .button(#6c5e9f, #fff, 225px, 0, 10px);
                text-decoration:none;
                text-align:right;
                span {
                    padding:5px 0 5px 50px;
                    display:block;
                    background:url('/images/icons/phone.jpg') no-repeat 10px center;
                    font-family:@Franklin;
                }
            }
        }

        #slider {
            #labels {
                width:390px;
                position:absolute;
                bottom:110px;
                right:56px;
                #dbl-arrow-left {
                    .label_double-arrow-left(#fff);
                }
                #lt {
                    .label_left_text(#655893);
                    padding:12px;
                    margin-top:3px;
                    font-size:23.68px;
                    text-align:right;
                    color:#fff;
                    width:140px;
                    padding-right:30px;
                    position:absolute;
                    right:0;
                    a {
                        color:#fff;
                        text-decoration:none;
                        display:block;
                    }
                }
            }
        }
        
        #control_section {
            margin:30px 0 0 0;
            #control-inside {
                width:999px;
                display: inline-block;
                vertical-align:top;
                nav#navigation-top {
                    .navigation(horizontal,0, 0);
                    ul {
                        width:100%;
                        li {
                            a {
                                .uppercase;
                                font-size:16px;
                                display:block;
                                background-color:#463986;
                                padding:8px 30px;
                                color:#fff;
                                text-decoration:none;
                                min-width:130px;
                                text-align:center;
                                -moz-transition:background 0.5s ease;
                                &:hover {
                                    background-color:#7d579c;
                                }
                            }
                            a.active {
                                background-color:#7d579c;
                            }
                            &:last-child {
                                a {
                                    min-width:124px !important;
                                }
                            }
                        }
                        
                    }
                }
                #search_bar {
                    overflow:hidden;
                    padding:2px;
                    background-color:#eee;
                    margin-top:4px;
                    position:relative;
                    input[type="search"] { padding:6px 55px; width:50px; }
                    input[type="submit"] {
                        padding:0;
                        border:0;
                        text-indent:-99999px;
                        background:transparent url("/images/icons/search.jpg") no-repeat left 0;
                        width:19px;
                        height:19px;
                        position:absolute;
                        right:115px;
                        top:8px;
                        cursor:pointer;
                    }
                    
                }
            }
            #trash {
                width:105px;
                height:74px;
                display: inline-block;
                vertical-align:top;
                background:url("/images/icons/trash.jpg") no-repeat 20px 14px;
                padding-left:92px;
                a {
                    .uppercase;
                    display:block;
                    padding:25px 0 0;
                    font-family:@Franklin;
                    text-decoration:none;
                    color:#463986;
                }
                span#count {
                    font-family:@Franklin;
                    color:#463986;
                    display:block;
                    margin-top:5px;
                }
            }
        }
    }

    .feature {
        padding:30px;
        .inside {
            width:835px; 
            margin:0 auto; 
            display:block;
            section.section {
                display:inline-block; 
                margin-right:100px; 
                padding:25px;
                .border-radius(50%);
                .gradient(left, #483a87, #7a559b);
                
                div {
                    width:74px; 
                    height:59px;
                }
                
                &:before {
                    
                }
                
                &:last-child {
                    margin-right:0
                }
            }
        }
        &-cash { background:url("/images/icons/cash.png") no-repeat center center; }
        &-design { background:url("/images/icons/design.png") no-repeat center center; }
        &-auto { background:url("/images/icons/auto.png") no-repeat center center; }
        &-build { background:url("/images/icons/build.png") no-repeat center center; }
    }
    
    .corusel {
        ul {
            li {display:inline-block;}
        }
        height:auto !important;
    }
    
    #content {
        min-height:200px;
        margin-top:30px;
        overflow:hidden;
        h1,h2,h3,h4 {font-family:@Franklin-Medium; .uppercase;}
               
        .news-block {
            margin:30px 0 30px;
            overflow:hidden;
            header {
                h1,h2,h3,h4 {
                    font-size:16px;
                    .uppercase;
                }
            }
            time { font-size:16px; font-family:@Franklin-Medium;}
            p {
                font-size:15px;
            }
            a.readnews {
                .button(#463986, #fff, 120px, 0, 9px);
                .uppercase;
                text-align:center;
                float:right;
                text-decoration:none;
                font-size:18px;
                font-family:@Franklin;
                
                &:hover {
                    text-decoration:underline;
                }
            }
        }
        
        .menu {
            width:205px;
            border:1px solid #cecece;
            float:left;
            .inside {background-color:#eeeeee; overflow:hidden;}
            menu {
                .setpadding(0,0);
                li {
                    list-style:none;
                    margin:30px 0 15px;
                    a {
                        display:block;
                        padding:15px 10px 15px 60px;
                        font-size:14px;
                        font-family:@Franklin-Medium;
                        color:#000;
                        text-decoration:none;
                        &:hover {
                            background-color:#463986;
                            color:#fff;
                        }
                    }
                    
                }
            }
            &-korp-mebel { 
                background:url("/images/menu/korp-mebel.png") no-repeat 15px 10px; 
                &:hover{
                    background:url("/images/menu/korp-mebel.png") no-repeat 15px -70px;
                }
            }
            &-spalnue-mesta { 
                background:url("/images/menu/spalnue-mesta.png") no-repeat 15px 10px;
                &:hover{
                    background:url("/images/menu/spalnue-mesta.png") no-repeat 15px -70px;
                }
            }
            &-postelnue-prinadl { 
                background:url("/images/menu/postelnue-prinadl.png") no-repeat 15px 17px;
                &:hover{
                     background:url("/images/menu/postelnue-prinadl.png") no-repeat 14px -65px;
                }
            }
            &-decor-textyle { 
                background:url("/images/menu/decor-textyle.png") no-repeat 15px 15px;
                &:hover{
                     background:url("/images/menu/decor-textyle.png") no-repeat 15px -63px;
                }
            }
            &-svetilniki { 
                background:url("/images/menu/svetilniki.png") no-repeat 15px 5px;
                &:hover{
                     background:url("/images/menu/svetilniki.png") no-repeat 16px -68px;
                }
            }
            &-myagkaya-mebel { 
                background:url("/images/menu/myagkaya-mebel.png") no-repeat 15px 8px;
                &:hover{
                     background:url("/images/menu/myagkaya-mebel.png") no-repeat 16px -70px;
                }
            }
            &-stuliya { 
                background:url("/images/menu/stuliya.png") no-repeat 15px 5px;
                &:hover {
                    background:url("/images/menu/stuliya.png") no-repeat 15px -73px;
                }
            }
            &-postery { 
                background:url("/images/menu/postery.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/postery.png") no-repeat 15px -70px;
                }
            }
            &-santehnika { 
                background:url("/images/menu/santehnika.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/santehnika.png") no-repeat 15px -70px;
                }
            }
            &-maxrovue-izdeliya { 
                background:url("/images/menu/maxrovue-izdeliya.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/maxrovue-izdeliya.png") no-repeat 15px -69px;
                }
            }
            &-individual { 
                background:url("/images/menu/individual.png") no-repeat 15px 20px;
                &:hover {
                    background:url("/images/menu/individual.png") no-repeat 15px -55px;
                }
            }
            &-dop-oborudovanie { 
                background:url("/images/menu/dop-oborudovanie.png") no-repeat 15px 15px;
                &:hover {
                    background:url("/images/menu/dop-oborudovanie.png") no-repeat 15px -72px;
                }
            }
            &-dveri { 
                background:url("/images/menu/dveri.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/dveri.png") no-repeat 15px -70px;
                }
            }
            &-konferenc-zaly { 
                background:url("/images/menu/konferenc-zaly.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/konferenc-zaly.png") no-repeat 15px -72px;
                }
            }
            &-mebel-dlya-ulicy { 
                background:url("/images/menu/mebel-dlya-ulicy.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/mebel-dlya-ulicy.png") no-repeat 15px -71px;
                }
            }
            &-mebel-dlya-cafe { 
                background:url("/images/menu/mebel-dlya-cafe.png") no-repeat 10px 20px;
                &:hover {
                    background:url("/images/menu/mebel-dlya-cafe.png") no-repeat 10px -70px;
                }
            }
            &-kavrolin { 
                background:url("/images/menu/kavrolin.png") no-repeat 15px 10px;
                &:hover {
                    background:url("/images/menu/kavrolin.png") no-repeat 15px -71px;
                }
            }
        }
    }
    
    #clients {
        margin-top:20px;
    }
    
    footer {
        margin-top:20px;
        height:272px;
        overflow:hidden;
        #navigation-bottom {
            .navigation(horizontal);
            margin:60px 0 60px;
            ul {
                margin: 0 auto;
                width: 980px;
                li {
                    margin-right:111px;
                    &:last-child {
                        margin-right:0;
                    }
                    a {
                        color:#000000;
                        font-family:@Franklin-Medium;
                        text-decoration:none;
                        .uppercase;
                    }
                }
            }
        }
        
        .social-icon {
            text-align:center;
            a {display:inline-block; width:34px; height:34px; margin-right:10px;}
            &-vk { background:url("/images/icons/vk.jpg") no-repeat left top; }
            &-od { background:url("/images/icons/od.jpg") no-repeat left top; }
            &-fb{ background:url("/images/icons/fb.jpg") no-repeat left top; }
            &-gg { background:url("/images/icons/gg.jpg") no-repeat left top; }
            &-inst { background:url("/images/icons/inst.jpg") no-repeat left top; }
            &-tw { background:url("/images/icons/tw.jpg") no-repeat left top; }
        }
        
        #addons {
            margin-top:40px;
            float:right;
            width:375px;
            div#counter {
                width:102px;
                height:36px;
                display:inline-block;
            }
            div#developers {
                margin-left:40px;
                display:inline-block;
                span {
                    margin-right:20px;
                    font-size:17px;
                    color:#8c8c8c;
                }
            }
        }
        
    }
}
